<div style="margin-bottom: 20px; margin-top:20px">
    <h3>Table</h3>
</div>

<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">List Cards</h4>
        <p class="card-category"> Here is a subtitle for this table</p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <tr>
                        <th>
                            Tên độc giả
                        </th>
                        <th>
                            Tên sách
                        </th>
                        <th>
                            Tác giả
                        </th>
                        <th>
                            Ngày mượn
                        </th>
                        <th>
                            Ngày trả
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each list}}
                    <tr>
                        <td>
                            {{this.user.name}}
                        </td>
                        <td>
                            {{#each books}}
                            {{this.item.title}}
                            {{/each}}
                        </td>
                        <td>
                            {{this.books.author}}
                        </td>
                        <td>
                            {{this.startDate}}
                        </td>
                        <td>
                            <a class="icon" href=""><i class="fas fa-check"></i></a>
                            <a class="icon" href="/" onclick="return confirm('Bạn có chắc không đồng ý?');"><i
                                    class="fas fa-times-circle"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>


        </div>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/presentation">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            ©
            <script>
                document.write(new Date().getFullYear())
            </script>2019, made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>
<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
</div>
<div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px; height: 695px;">
    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 390px;"></div>
</div>
</div>
</div>