<div class="mag-login-area py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->

                    {{#each errors}}
                    <div class="alert alert-danger" style="text-align: center;">
                        {{ msg }}
                    </div>
                    {{/each}}
                    <div style="margin-bottom: 20px" class="section-heading">
                        <h5>Thông tin cá nhân</h5>
                    </div>
                    <form action="/register" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input readonly type="email" id="email" name="email" class="form-control"
                                value="{{authUser.email}}" />
                        </div>
                        <div class="form-group">
                            <label for="name">Họ và Tên</label>
                            <input type="name" id="name" name="name" class="form-control"
                                value="{{authUser.name}}" />
                        </div>
                        <div class="form-group">
                            <label for="phone">Số điện thoại</label>
                            <input type="number" id="phone" name="phone" class="form-control"
                                value="{{authUser.phone}}" />
                        </div>
                         <label for="password">Đặt lại mật khẩu</label>
                        <div class="form-group">
                            <label for="password">Mật khẩu hiện tại</label>
                            <input type="password" id="password" name="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="password2">Mật khẩu mới</label>
                            <input type="password" id="password2" name="password2" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password2">Nhập lại mật khẩu mới</label>
                            <input type="password" id="password2" name="password2" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Cập nhật
                        </button>
                    </form>
                  
                </div>
            </div>
        </div>
    </div>
</div>


</body>